{% extends "layout.html" %} {% block content %}
<body>     
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- table list user -->
                <table id="tableListUser" class="table table-stripped">
                    <tr>
                        <th>No</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Roles</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>adm77</td>
                        <td>sha52Asdcxz13</td>
                        <td>admin</td>
                    </tr>
                </table>
                <!-- end table list user -->
            </div>
        </div>
    </div>    
</body>
{% endblock %}
